.tableSection {
  background: #fff;
  padding: 20px;
  border: 1px solid #fff;
  border-radius: 8px;
  width: 100%;
}

.filterInput {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #fff;
  border-radius: 4px;
}

.dataTable {
  width: 100%;
  border-collapse: collapse;
}

.dataTable th, .dataTable td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #fff;
}

.dataTable th {
  background-color: #fff;
}

.analyticsContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  width: 100%;
  flex-grow: 1;
  height: 100%;
}

.chartsGrid {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 20px;
  width: 100%;
}

.chartCard {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.pageTitle {
  color: var(--text-main);
  margin-top: 0;        
  margin-bottom: 10px;  
}