.navMain {
    background-color: powderblue;

    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    align-items: center; 
    scroll-behavior: smooth;

    height: 100px;
}