.calendar-wrapper {
  background-color: white; 
  padding: 5px;
  border-radius: 20px;
  box-shadow: 2px 0 12px rgba(0, 0, 0, 0.05);
  width: 100%;
  box-sizing: border-box;
  max-width: 100%; 
  box-sizing: border-box; 
}

.react-calendar {
  width: 100% !important;
  border: none !important;
  font-family: inherit;
}

.react-calendar__tile--now {
  background: rgba(92, 160, 120, 0.5); 
  border-radius: 8px;
}

.visited-day {
    background-color: rgba(92, 160, 120, 1);
    color: white !important;
    border-radius: 8px !important;
    position: relative;
}

.visited-day::after {
    content: '';
    position: absolute;
    bottom: 3px;
    left: 50%;
    transform: translateX(-50%);
    width: 4px;
    height: 4px;
    background: white;
    border-radius: 50%;
}


.react-calendar__navigation button {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--color-primary);
}


.react-calendar__tile {
  border-radius: 8px;
  padding: 10px 2px;
}

.react-calendar__tile:hover {
  background-color: #f0f0f0;
  border-radius: 8px;
}

.visited-day:hover {
  background-color: var(--color-primary);
}