.content {
    flex: 1;
    border-radius: 20px;
    padding: 10px;

    position: relative;
    overflow: hidden;
    height: 100%;
    width: auto;
}
 
.content-map canvas {
  object-fit: contain;
  border-radius: 20px;
  /*background: radial-gradient(ellipse at center, #1a1a2e 0%, #0a0a1a 100%);
  border-radius: 20px;
  overflow: hidden;}
  position: relative;
  object-fit: contain;
  background: url('/assets/starysky.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  background-repeat: no-repeat;
  overflow: hidden;*/
}


@media (max-width: 1024px) {
  .content {
    height: 100%;
  }

  .content-map {
    height: 100%;
  }
}
