.content {
    flex: 1;
    background-color: white;
    border-radius: 20px;
    padding: 10px;

    position: relative;
    overflow: hidden;
    height: 100%;
    width: auto;
}


/* Force the canvas to stay inside the container */
.content-map canvas {
  object-fit: contain;
}
