.content {
    flex: 1;
    background-color: white;
    border-radius: 20px;
    padding: 10px;

    position: relative;
    overflow: hidden;
    height: 100%;
    width: auto;
}
 
.content-map canvas {
  object-fit: contain;
}

@media (max-width: 1024px) {
  .content {
    height: 100%;
  }

  .content-map {
    height: 100%;
  }
}
