@import 'leaflet/dist/leaflet.css';

* { 
  box-sizing: border-box; 
  margin: 0; 
  padding: 0;
}
 
html, body {
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
}

body {

}

.appMain {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center; 
  align-items: flex-start;
}

@media (max-width: 1024px) {
  body {
    scroll-behavior: smooth;
    
    overflow-y: auto;
    align-items: flex-start;
  }
}