* { box-sizing: border-box; margin: 0; padding: 0; }
 
html, body {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
  overscroll-behavior-x: none;
  overscroll-behavior-y: none;
  scroll-behavior: auto;
}

body {
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.appMain {
  position: relative;
  background-color: transparent;

  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.layout {
  display: grid;
  grid-template-columns: 70% 1fr;
  align-items: start;
  margin-top: 100px;
  height: calc(100vh - 100px);
  width: 100%;

  z-index: 1;
}
