.navbar {
  height: 100%;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border-radius: 20px;
}

.nav-header {
  display: flex;
  justify-content: center;
}

.nav-footer {
  align-items: center;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

.home-link {
  text-decoration: none;
  transition: all 0.2s;
}

.home-link:hover {
  transform: scale(1.05);
}

.nav-brand {
  font-size: 2.2rem;
  font-weight: bold;
  color: #1E3A77;
}

.nav-links {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 30px;
}

.nav-links a {
  text-decoration: none;
  color: #5D6B6B;
  font-weight: 500;
  transition: color 0.2s;
}

.nav-links a:hover {
  color: #1E3A77;
}

.nav-user {
  background-color: #F7CBCA;
  padding: 0.5rem 1rem;
  border-radius: 30px;
  font-weight: 500;
  color: #1E3A77;
}

.nav-footer {
  padding-top: 1rem;
  border-top: 2px solid #116351;
  background-color: mintcream;
  border-radius: 20px;
}

.nav-profile-link {
  text-decoration: none;
}

.user-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 12px;
  transition: background 0.2s;
}

.user-info:hover {
  background-color: #6cb9a2;
}

.user-avatar {
  width: 40px;
  height: 40px;
  background-color: #116351;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.2rem;
}

.user-details {
  display: flex;
  flex-direction: column;
}

.user-details strong {
  color: #1E3A77;
  font-size: 1.3rem;
}

.user-details span {
  color: #5D6B6B;
}

.logout-btn {
  height: 100%;
  background-color: transparent;
  border: none;
  color: #5D6B6B;
  font-weight: 500;
  padding: 5px;
  border-radius: 12px;
  transition: background 0.2s;
}

.logout-btn:hover {
    background-color: #6cb9a2;
}

@media (max-width: 1024px) {

  .nav-header, .nav-footer {
    width: 100%;
    flex-direction: row;
  }
}