:root{
  --bg-color: #f0f4f2;       
  --sidebar-color: #1a6855;  
  --card-bg: #ffffff;        
  --text-main: #1a6855;
  --accent-green: #58976a;
}

.pageWrapper {
  display: grid;
  grid-template-columns: 20% 80%; 
  height: 90vh;
  width: 90%;
  background-color: var(--card-bg); 
  border-radius: 24px;
  box-shadow: 2px 0 12px rgba(0, 0, 0, 0.05);
  margin: 40px auto;
  padding: 10px;
  box-sizing: border-box;
}

.sideBar{
  grid-column: 1;
  background: var(--sidebar-color);
  color: #fff;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  border-radius: 20px;
  margin-right: 5px;
  overflow: hidden;
}

.navSection {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.navTitle {
  font-size: 0.75rem;
  text-transform: uppercase;
  color: #aaa; 
  letter-spacing: 1px;
  margin-bottom: 5px;
  padding: 2px; 
}

.navItem {
  padding: 10px 5px;
  cursor: pointer;
  border-radius: 12px;
  transition: all 0.3s ease;
  transition: background 0.3s;
  align-items: center;
  opacity: 0.8;
  text-decoration: none;
  color: inherit;
}

.navItem:hover {
  background: rgba(181, 255, 172, 0.15); 
  opacity: 1;}

.navItem:visited, 
.navItem:active {
  color: #fff; 
}

.userSection {
  margin-top: auto;
  padding: 15px;
  border: 3px solid #f0f4f2;
  display: flex;
  flex-direction: column; 
  align-items: center;
  gap: 12px;
  border-radius: 12px; 
}

.userAvatar {
  width: 40px;
  height: 40px;
  border-radius: 50%; 
  object-fit: cover;
}

.userName {
  font-size: 0.9rem;
  font-weight: 600;
  white-space: nowrap; 
}

.logoutBtn {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  color: #fff;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 0.8rem;
  transition: background 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.logoutBtn:hover {
  background: #a8d5ba; 
}


.mainContent {
  grid-column: 2;
  background-color: #a8d5ba; 
  border-radius: 20px;
  display: block;
  flex-direction: column;
  padding: 20px;
  overflow-y: auto;
  min-height: 0;
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1; 
}

.dashboardBody {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 2.5vw;
  width: 100%;
  min-height: auto;
}

* {
  box-sizing: border-box;
}

@media (max-width: 1024px) {
  .pageWrapper {
    flex-direction: column;
    width: 100%;
    margin: 0;
    height: auto;
    border-radius: 0;
    display: flex;
    flex-direction: column;
  }

  .sideBar {
    width: 100%;
    height: fit-content;
    margin-right: 0;
    margin-bottom: 10px;
  }

 
  .navSection {
    flex-direction: row;
    gap: 15px;
  }

  .navTitle {
    display: none; 
  }

 
  .mainContent {
    padding: 20px 10px;
  }


  .dashboardBody {
    padding: 10px;
    gap: 15px;
  }
}

@media (max-width: 600px) {
  .sideBar {
    flex-direction: column;
    align-items: flex-start;
  }
}


