@import '../../App.css';

body {
  background-color: var(--background-color-body);
}

.dashboard {
  position: relative;
  display: grid;
  grid-template-columns: 20% 80%;
  height: 90vh;
  width: 90%;
  background-color: var(--color-white);
  border-radius: 24px;
  box-shadow: 2px 0 12px rgba(0, 0, 0, 0.05);
  margin: 40px auto;
  padding: 10px;
}

.nav-block {
  grid-column: 1;
  margin-right: 5px;
  width: 100%;
}

.main-block {
  grid-column: 2;
  position: relative;
  padding: 10px;
  background-color: var(--background-color-container);
  box-shadow: 2px 0 12px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  height: 99%;
  width: 100%;
  overflow: hidden;
}

.map-view {
  display: grid;
  grid-template-columns: 60% 40%;
  gap: 5px;
  width: 100%;
  height: 100%;
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1),
  opacity 0.5s ease;
}

.map-view.active {
  transform: translateX(0);
  opacity: 1;
}

.main-block.editing .map-view {
  opacity: 0.3;
  pointer-events: none;
}


.editor-view {
  position: absolute;
  top: 0;
  right: 0;
  width: 90%;
  height: 100%;
  transform: translateX(100%);
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 20px;
  padding-right: 10px;
  margin-top: 10px;
  padding-bottom: 10px;
  overflow-y: scroll;
}

.editor-view.active {
  transform: translateX(0);
}

.main-content {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.right-content {
  border-radius: 20px;
  width: 100%;
  min-width: 0;
}

::-webkit-scrollbar {
    width: 10px;
  }
::-webkit-scrollbar-track {
  background: var(--color-hover-country);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--color-default-country);
  border-radius: 10px;
}


@media (max-width: 1500px) {
  .main-block {
    flex-shrink: 0;
    padding-bottom: 30px;
  }

  .map-view {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    min-height: 1000px;
  }

  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-track {
    background: var(--color-hover-country);
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--color-default-country);
    border-radius: 10px;
  }
}

@media (max-width: 1024px) {
  .dashboard {
    width: 100%;
    margin: 0;
    height: auto;
    border-radius: 0;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
  }

  .main-block {
    flex-shrink: 0;
  }

  .map-view {
    min-height: 800px;
    display: flex;
    flex-direction: column;
  }

  .nav-block {
    height: fit-content;
    margin-right: 0;
    margin-bottom: 10px;
  }
}